# App Einstellungen
PROJECT_NAME="FastAPI Multi-Protocol Backend"
VERSION="1.0.0"

# PostgreSQL Verbindung (Asyncpg Treiber)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fastapidemo
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fastapidemo

# Fallback: Auf True setzen, falls ohne PostgreSQL gearbeitet werden soll
USE_SQLITE=false
SQLITE_URL=sqlite+aiosqlite:///./fastapidemo.db
